[submodule "3rdparty/sparse_kernel"]
	path = 3rdparty/sparse_kernel
	url = http://ghfast.top/https://github.com/OpenBMB/sparse_kernel.git
[submodule "3rdparty/infllmv2_cuda_impl"]
	path = 3rdparty/infllmv2_cuda_impl
	url = http://ghfast.top/https://github.com/OpenBMB/infllmv2_cuda_impl.git
	branch = minicpm_sala
